<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="could.bluepay.renyumvvm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--<uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>-->

    <application
        android:name=".MixApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--解决android7.0文件权限问题所需,实现文件共享-->
        <provider
            android:name=".common.provider.PictureFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".view.activity.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".view.activity.RegisterActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            />

        <activity android:name=".view.activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".view.activity.UserSettingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity android:name=".view.activity.PictureViewPagerActivity"
            android:screenOrientation="portrait"/>

        <!--视屏播放测试activity-->
        <activity android:name=".view.activity.ActivityListViewRecyclerView"/>


        <activity android:name=".view.activity.PublishActivity"
            android:screenOrientation="portrait" />


        <!--图片选择相关-->

        <activity android:name=".view.activity.pictureSelector.PictureSelectorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity.Theme"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".view.activity.pictureSelector.PictureBaseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.pictureSelector.PicturePreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity.Theme" />
        <activity
            android:name=".view.activity.pictureSelector.PictureVideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/activity.Theme" />

        <!--<activity-->
            <!--android:name=".PictureExternalPreviewActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/activity.Theme" />-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.yalantis.ucrop.PictureMultiCuttingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--<activity-->
            <!--android:name=".PicturePlayAudioActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/Theme.AppCompat.Light.NoActionBar" />-->
        <activity android:name=".view.activity.BestChartActivity"
            android:screenOrientation="landscape">

            </activity>
    </application>

</manifest>